.topnav{
    background-color: rgb(255, 255, 255);
    text-align: right;
    height: 10vh;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: flex-end;
}

a{
    color: rgb(19, 20, 21);
    padding: 5px;
}

.intro{
    color: white;
    text-align: center;
    margin: 200px;
}
